<!DOCTYPE html>
<html>
  <head>
    <title>Mr T. With Strangers</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.group2 = "<%= image_url('group2.jpg') %>";
      window.mr1 = "<%= image_url('mrta.png') %>";
      window.mr2 = "<%= image_url('mrtb.png') %>";
      window.mr3 = "<%= image_url('mrtc.png') %>";
      window.hosting = "<%= image_url('hosting.gif') %>";
      window.git = "<%= image_url('gh.png') %>";
      window.link = "<%= image_url('li.png') %>";
    </script>
    <meta property="og:title" content="Mr T. With Strangers" />
    <meta property='og:image' content="<%= image_url('logo.png') %>"/>
    <meta property="og:description"
      content="Mr.T with Strangers is a full-stack app that is satirizing sites like Meetup.com
Users can look for events near them and attend those events or host events of their own.
The app is made using Ruby on Rails for the back-end, React.js for the front-end, and PostgreSQL for the database."
    />
    <meta property="og:url"
      content="mr-t-with-strangers.herokuapp.com"
    />

   
  </head>
  <body>

    <%= yield %>

  </body>
</html>
