<!DOCTYPE html>
<html>
  <head>
    <title>Mr T. With Strangers</title>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U"%>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
    </script>
 
   
  </head>
  <body>

    <%= yield %>

  </body>
</html>
